@model TN408.Models.SanPham

@{
    ViewData["Title"] = "DetailsSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>
    Thông tin chi tiết sản phẩm
    <span class="text-info">@Model.TenSanPham</span>
</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenManHinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenManHinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DungLuongPin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DungLuongPin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DungLuongRam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DungLuongRam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDoHoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDoHoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeDieuHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeDieuHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DungLuongRom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DungLuongRom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDvtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDvtNavigation.MaDvt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoaiSpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiSpNavigation.MaLoaiSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMauNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMauNavigation.MaMau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNsxNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNsxNavigation.MaNsx)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
